/* IE6 fixes */

* { display:inline; overflow:hidden; zoom:1; }
html { overflow:auto; }
h1, h2, h3, h4, h5, h6, h7, p { display:block; }
ul,li { display:inline !important; }
img { display:block; }
input, button { overflow:visible; }
audio,canvas,video { zoom:1; display:inline; }

