@charset "utf-8";
/*	
 *	Airbuddy
 *	http://www.airbuddy.eu
 *	
 *	Author: AirBuddy/ Cornelius Thaiss
 *	AirBuddy
 *	
 *	Date: November 2014
 *	
 */



/* --------------------------------------------------------------------------------- */
/*	Color Sheme
	
	Color #1 (yellow)	:	#E6A901
    Color #2 (blue)	    :	#040C39
	Text (p)			:	#333333
	Background body		:	#FFFFFF

/* --------------------------------------------------------------------------------- */



/* --------------------------------------------------------------------------------- */
/*	
	
	0. Reset
	1. Standard Styles
	2. Basic Styles
	3. Typography
	4. General
	5. Navigation
	6. Header
	7. Content
	8. Sidebar
	9. Footer
	
/* --------------------------------------------------------------------------------- */



/*  0. Reset (by E. Meyer http://meyerweb.com/eric/tools/css/reset/)
/* --------------------------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
audio, canvas, video {
	display: inline-block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
a img {
	border: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*  1. Standard Styles
/* --------------------------------------------------------------------------------- */

a {
	color: inherit;
	outline: 0;
	text-decoration: none;
}

a:hover {
	color: inherit;
}

ol {
	list-style: decimal;
	margin-bottom: 1em;
}

ul {
	list-style: disc;
	margin-bottom: 1em;
}

li {
	margin-left: 2em;
}

li li {
	font-size: 1em;
}

dl {
	margin-bottom: 1em;
}

dl dt {
	font-size: 1em;
}

dl dd {
	font-size: 1em;
}

dd {
	margin-left: 1.5em;
}

b, strong {
	font-weight: bold;
}

i, em {
	font-style: italic;
}

u {
	text-decoration: underline;
}

blockquote {
    padding: 1em 1.5em;
	font-style: italic;
}

small {
    font-size: 75%;
}

pre, code, kbd, samp {
	font-family: monospace, sans-serif;
	margin: 1em 0;
    white-space: pre;
    white-space: pre-wrap;
    /* word-wrap: break-word; */
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
	max-width: 100%;
	height: auto;
}

	blockquote p, p input, p label {
		font-size: 1em !important;
	}



/*  2. Basic Styles
/* --------------------------------------------------------------------------------- */

html {
	/* width: 100%; height: 100%; */
	-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    background-color: #FFFFFF;
}



/*  3. Typography
/* --------------------------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	color: #E6A901;
	line-height: normal;
	font-weight: normal;
	text-decoration: none;
	margin: 0.688m 0;
}

h1 {
	font-size: 1.8125em;
}

h2 {
	font-size: 1.750em;
}

h3 {
	font-size: 1.600em;
}

h4 {
	font-size: 1.450em;
}

h5 {
	font-size: 1.300em;
}

h6 {
	font-size: 1.200em;
}

p, li, dl, dt, dd, blockquote, input, table, form label {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	color: #333333;
	font-size: 0.938em;
	line-height: 1.6;
	font-weight: normal;
	text-decoration: none;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}
	
	@media screen and (max-width: 767px)  { p, li, dl, dt, dd, blockquote, input, table, form label { font-size: 0.938em; } }
	@media screen and (min-width: 768px)  {	p, li, dl, dt, dd, blockquote, input, table, form label { font-size: 1.063em; } }
	@media screen and (min-width: 1024px) {	p, li, dl, dt, dd, blockquote, input, table, form label { font-size: 1.063em; } }
    
    /*
    @media screen and (max-width: 767px)  { p, li, dl, dt, dd, blockquote, input, table, form label { -webkit-hyphens: auto; -moz-hyphens: auto; -ms-hyphens: auto; hyphens: auto; } }
	@media screen and (min-width: 768px)  {	p, li, dl, dt, dd, blockquote, input, table, form label { -webkit-hyphens: auto; -moz-hyphens: auto; -ms-hyphens: auto; hyphens: auto; } }
	@media screen and (min-width: 1024px) {	p, li, dl, dt, dd, blockquote, input, table, form label { -webkit-hyphens: none; -moz-hyphens: none; -ms-hyphens: none; hyphens: none; } }
    */

p {
	margin: 1em 0;
	text-align: justify;
}

p a, li a, table a {
	font-family: inherit;
	color: inherit;
	line-height: inherit;
	text-decoration: underline;
}

p a:hover, li a:hover, table a:hover {
	color: #E6A901;
	text-decoration: underline;
}



/*  4. General
/* --------------------------------------------------------------------------------- */

.clearer {
	clear: both;
	height: 0;
}

.left_50 {
	width: 48%;
	float: left;
}

.right_50 {
	width: 48%;
	float: right;
}


label {
    display: block;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	color: #333333;
	font-size: 1.250em !important;
	line-height: 1.6;
}

input[type=text], input[type=password], input[type=date], textarea {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	color: #333333;
	background-color: #EBEBEB;
	border: 1px solid #FFF;
	padding: 3px;
    margin: 0 0 7px 0;
    font-size: 0.875em;
}

	input[type=text]:focus, input[type=password]:focus, input[type=date]:focus {
		border: 1px solid #E6A901;
	}
	
input[type=submit] {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	color: #FFF;
	background-color: #040C39;
	border: none;
	padding: 3px;
    font-size: 0.938em;
}

	input[type=submit]:active, input[type=submit]:hover {
		color: #E6A901;
		cursor: pointer;
	}
	
table {
	width: 100%;
	margin: 0 0 1em 0;
	border-collapse: collapse;
	border-spacing: 0;
    border: none;
}

	table caption {
		margin: 40px 0;
	}
	
	table th {
		padding: 5px;
		font-weight: bold;
		background-color: #53AD43;
		color: #FFF;
	}
	
	table td {
        text-align: center;
        width: 33%;
        font-size: 0.938em;
	}

    table td {
        padding: 5px 5px 50px 5px;
    }
    
        @media screen and (max-width: 767px)  { table td { padding: 5px 5px 70px 5px; } }
        @media screen and (min-width: 960px)  {	table td { padding: 5px 5px 70px 5px; } }
        @media screen and (min-width: 1024px) {	table td { padding: 5px 5px 70px 5px; } }

        table td h5 {
            font-weight: bold;
            text-align: left;
        }

        table td.price {
            font-style: italic;
            text-align: right;
        }
	
blockquote {
    background-color: #EEE;
	border-left: 2px solid #53AD43;
}
	
	



/*  5. Navigation
/* --------------------------------------------------------------------------------- */

/* ... */



/*  6. Background Iamge
/* --------------------------------------------------------------------------------- */

#background-image {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 666px;
    background-image: url("../images/bg.jpg");
    background: -webkit-image-set(  url("../images/bg.jpg") 1x,
                                    url("../images/bg@2x.jpg") 2x);
    background:         image-set(  url("../images/bg.jpg") 1x,
                                    url("../images/bg@2x.jpg") 2x);
    background-position: 50% 0;
    background-repeat: no-repeat;
    z-index: -1;
}




/*  7. Content
/* --------------------------------------------------------------------------------- */

#page-content-startpage {
    margin: 10px;
}

    #slogan {
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        text-align: center;
        color: #FFF;
        font-weight: 300;
        margin: 20px 0 0 0;
        line-height: 1.5;
    }
    
    #img-logo {
        margin: 30px auto 3px auto;
    }

    #fb-btn {
        width: 75%;
        max-width: 400px;
        margin: 0 auto;
        font-family: 'Open Sans', Arial, Helvetica, sans-serif !important;
        font-size: 1.000em;
    }

#page-content-subpage {
    margin: 20px 40px;
}

    @media screen and (max-width: 767px)  { #page-content-subpage { margin: 20px 40px; } }
    @media screen and (min-width: 768px)  {	#page-content-subpage { margin: 40px 150px; } }
    @media screen and (min-width: 1024px) {	#page-content-subpage { margin: 40px 150px; } }

    #img-logo-simple {
        margin: 0;
    }

        @media screen and (max-width: 767px)  { #img-logo-simple { margin: 0; } }
        @media screen and (min-width: 768px)  {	#img-logo-simple { margin: 20px 0 30px 0; } }
        @media screen and (min-width: 1024px) {	#img-logo-simple { margin: 20px 0 30px 0; } }

    .current-location {
        font-size: 0.938em;
        margin: 0 0 0 30px;
        line-height: 1;
    }

    .nearest-airport {
        font-size: 1.375em;
        margin: 0 0 0 30px;
        padding: -1em 0 0 0;
        font-weight: bold;
        line-height: 1;
    }

    .btn-getticket {
        display: inline-block;
        background-color: #040C39;
        padding: 3px 4px;
        text-decoration: none;
        color: #FFF;
        border-radius: 4px;
    }

        .btn-getticket:hover {
            color: #E6A901;
            text-decoration: none;
        }



/*  8. Sidebar
/* --------------------------------------------------------------------------------- */




/*  9. Footer
/* --------------------------------------------------------------------------------- */

footer {
	width: 980px;
	padding-bottom: 30px;
	margin: 0 auto;
}


	









