<!DOCTYPE html>
<!--[if IE 7]><html class="ie7"><![endif]-->
<!--[if IE 8]><html class="ie8"><![endif]-->
<html lang="de">
    
    <head>

        <meta charset="utf-8" />
        <title>AirBuddy - there is no better way to travel to your friends</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="author" content="Coinlex Webdesign" />
        <meta name="robots" content="index, follow" />

        <meta name="audience" content="all"/>
        <meta name="language" content="de" />
        <meta name="author" content="Coinlex Webdesign" />
        <meta name="copyright" content="All Rights reserved! Copyright by Coinlex Webdesign!" />

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" media="screen" href="../static/css/style.css" />
        <link rel="stylesheet" type="text/css" media="print" href="../static/css/print.css" />
        <link rel="shortcut icon" href="../static/images/favicon.ico" />

    </head>

    <body>
        
        <div id="page-content-subpage">
            
            <img id="img-logo-simple" src="../static/images/airbuddy-logo-simple.png" alt="">
            <br>
            <br>
            <h1>Flightstatus</h1>
            <p>Please enter the fields below. Your friend will then be informed about your flight to <strong>{{ airport }}</strong></p>
            <form action="/success" method="POST" enctype="multipart/form-data" onSubmit="document.getElementById('loading-status').style.display='inline';">
                <label>Your name</label>
                <input type="text" name="name" tabindex="1" value="{{ first_name }}">
                <br>
                <label>Your flight number</label>
                <input type="text" name="flightnumber" tabindex="2" value="LH239">
                <br>
                <label>Date of departure</label>
                <input type="text" name="date" tabindex="3" value="{{ start_date }}">
                <br><br><br>
                <label>Your friend's e-mail address</label>
                <input type="text" name="email" tabindex="3" value="">
                <br><br><br>
                <input type="submit" value="Invite your friend to pick you up" tabindex="4"><br><br>
                <img id="loading-status" src="../static/images/loading.gif" alt="" style="display:none;" />
            </form>
            
        
        </div>
        <script type="text/javascript" src="../static/js/retina/retina.js"></script>
        
    </body>

</html>











