<!DOCTYPE html>
<!--[if IE 7]><html class="ie7"><![endif]-->
<!--[if IE 8]><html class="ie8"><![endif]-->
<html lang="de">
    
    <head>

        <meta charset="utf-8" />
        <title>AirBuddy - there is no better way to travel to your friends</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="author" content="Coinlex Webdesign" />
        <meta name="robots" content="index, follow" />

        <meta name="audience" content="all"/>
        <meta name="language" content="de" />
        <meta name="author" content="Coinlex Webdesign" />
        <meta name="copyright" content="All Rights reserved! Copyright by Coinlex Webdesign!" />

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" media="screen" href="../static/css/style.css" />
        <link rel="stylesheet" type="text/css" media="print" href="../static/css/print.css" />
        <link rel="shortcut icon" href="../static/images/favicon.ico" />

    </head>

    <body>
        
        <div id="page-content-subpage">
            
            <img id="img-logo-simple" src="../static/images/airbuddy-logo-simple.png" alt="">
            <br>
            <br>
            <form action="#" method="POST" enctype="multipart/form-data" onSubmit="document.getElementById('loading-status').style.display='inline';">
                <label>Your location</label>
                <input type="text" name="location" tabindex="1" value="{{ location }}">
                <br><br>
                <label>Depart on</label>
                <input type="date" name="departure" tabindex="2"><br>
                <label>Return on</label>
                <input type="date" name="return" tabindex="3"><br>
                <br><br>
                <input type="submit" value="Find flights to your friends" tabindex="4"><br><br>
                <img id="loading-status" src="../static/images/loading.gif" alt="" style="display:none;" />
            </form>
            <!--
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            -->
            
        
        </div>
    
    </body>

</html>


