<html>
  <head>
    <title>Title</title>
  </head>
  <body >
    <div style="width:75%; background-color:#FFFFFF">
      <h1>Here are the results!</h1>
      <div>Blabla:</div>
      <br>
        {# COMMENT: This is me being lazy about printing the list of variables.
                    In a final setup it might be smarter to hard code each
                    key-value-pair in order to do pretty formatting etc ... #}
        So you want to travel from {{ user_location }} on {{ start_date }} and return on {{ return_date }}.
        <table>
        {% for airport in prices %}

          <tr>
            <td colspan=2 align="left">{% block loop_item scoped %}{{ airport }}: {{ prices[airport] }}<br>
                {% for friend in airports[airport] %}
                {% block loop_item2 scoped %}{{ friend['id'] }}:  {{ friend['name'] }} ({{ friend['location']['name'] }})<br>
              {% endblock %}{% endfor %}
                {% endblock %}</td>


          </tr>
        {% endfor %}
        </table>

</body>
</html>
