<!DOCTYPE html>
<!--[if IE 7]><html class="ie7"><![endif]-->
<!--[if IE 8]><html class="ie8"><![endif]-->
<html lang="de">
    
    <head>

        <meta charset="utf-8" />
        <title>AirBuddy - there is no better way to travel to your friends</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="author" content="AirBuddy" />
        <meta name="robots" content="index, follow" />

        <meta name="audience" content="all"/>
        <meta name="language" content="en" />

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" media="screen" href="../static/css/style.css" />
        <link rel="stylesheet" type="text/css" media="print" href="../static/css/print.css" />
        <link rel="shortcut icon" href="../static/images/favicon.ico" />

    </head>

    <body>
        
        <div id="page-content-subpage">
            
            <img id="img-logo-simple" src="../static/images/airbuddy-logo-simple.png" alt="">
            <br>
            <br>
            <h1>Your friend has been invited</h1>
            <p>Your friend will receive an email within the next minutes to accept your invitation.</p>
            <p>While flying, he or she will get the latest updates about your flight to {{ airport }}.</p>
            <br>
            <p><strong>Thank you for flying with Lufthansa!</strong></p>            
            <br>
            <br>
            <br>            
        
        </div>
        <script type="text/javascript" src="../static/js/retina/retina.js"></script>
        
    </body>

</html>











